html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Main {
  display: flex;
  flex: 1;
  background: url(/bg-min.jpg) no-repeat
    center center fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.Meow {
  max-width: 320px;
  border-radius: 16px;
  font-size: 18px;
  position: absolute;
  top: 3%;
  left: 3%;
}

.Footer {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 150px;
  background: #181818;
  color: white;
}

.ButtonBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Button {
  width: 180px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 16px;
  text-decoration: none
}

.Column {
  display: flex;
  flex-direction: column;
  /*flex-basis: 100%;*/
  flex: 1;
  align-items: center;
  margin: 10px;
}

.material-icons {
  display:inline-block;
  font-size: 24px;
  flex:1 1 auto;
}

.text {
  margin-left: 10px;
  text-align: center;
  display:inline-block;
  color: rgba(0, 0, 0, 0.54)
}

.actionButton {
  display: flex;
  align-items: center;
  display: inline-flex;
  align-items: center;
}

.material-icons.md-dark { 
  color: rgba(0, 0, 0, 0.54); 
}

.material-icons.md-dark.md-inactive { 
  color: rgba(0, 0, 0, 0.26); 
}

.RootGrid {
  flex-grow: 1,
}

.Paper {
  padding: 2px;
  text-align: left;
  color: white;
  background-color: none;
}

.MuiPaper-root-136 {
  background-color: black;
}

.Veber-logo {
  height: 60vmin;
  pointer-events: none;
}