html,
body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media only screen and (max-width: 769px) {
  .Main {
    display: flex;
    flex: 1;
    background: url(./bg-mobile_portrait.jpg) no-repeat
      center center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .Main {
    display: flex;
    flex: 1;
    background: url(./bg-min.jpg) no-repeat
      center center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
  }
}



.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background: #181818;
  color: white;
}

.ButtonBox {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.Button {
  width: 180px;
  background-color: #e0e0e0;
  border-radius: 16px;
  text-decoration: none;
  margin: 5px;
}

.Column {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 10px 25px 0px;
}

@media only screen and (min-width: 768px) {
  div.Column {
    margin: 10px 0px 0px;
  }
}

.ColumnText {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: 10px;
  white-space: nowrap;
}

.Veber-logo {
  height: 25vmin;
  pointer-events: none;
  top: 10px;
  left: 0px;
  position: absolute;
}

break {
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}

.lastItem {
  padding-bottom: 20px;
}

.buttonText {
  padding-left: 14px;
  text-transform: lowercase;
}

a.Button {
  justify-content: flex-start;
}